html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    background: darkslategray;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding:  0;
}
h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    background: darkslategray;
    text-align: center;
    background: darkgreen;
    margin: 0;
}

label {
    font-weight: 500;
}

input {
    display: block;
    width: 100%;
    padding: 3px 5px;
    cursor: pointer;
    border: 1px solid green;
    border-radius: 5px;
}


.header_h1__crud {

}




.main {

}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;

}

.main_content {
    display: flex;
    gap: 50px;
}

.wrapper {
    background: rgba(81, 106, 63, 0.17);
    max-width: 300px;
    margin-top: 50px;
}

.logo {
    text-align: center;
}

.logo_book {
    width: 100%;
}

.items_h1__book {
    text-align: center;
    margin-bottom: 10px;
}

.wrap_items {
    margin: 10px;
}

.items_text__description{

}

.wrapper__addition {

}

.wrap_addition {

    margin: 150px 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: darkslategray;
}

.wrap_addition {

}

.logo_addition {
    width: 100%;
    margin-top: 7px;
}

.modal__overlay {
    display: flex;

    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

}

.modal__modal {
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    text-align: start;
    margin: 10px;
    background: #fff;
    margin: auto;
}

.items__modal {

    margin: 10px 0;
    font-weight: 400;
    font-style: normal;

}

.btn__content {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.btn__modal {
    display: block;
}
